body {
    background:#B7B8B6;
    font-family: 'Raleway', sans-serif;
}

.container {
    width: 1500px;
    margin: auto;
    display: flex;
    max-width: 100%;
    background: #4CB5F5;
}

.contact{
    width:25%;     
}

.foot
{
    width: 1500px;
    background-color: #B3C100;
    margin: auto;
    display: flex;
    max-width: 100%; 
}

.main_page{
    width:25%;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    text-decoration: none;
}

.specialties{
    width:25%;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}

.staff1{
    width:25%;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}

.left-header {
    background: #4CB5F5;
    max-width: 92%;  
    width: 1380px;
}

.right-header {
    background: #4CB5F5;
    width: 120px;
}

.container2 {
    width: 1500px;
    margin: auto;
    display: flex;
    background:#DAF1DE;
    max-width: 100%;
}

.container3 {
    width: 1500px;
    margin: auto;
    display: flex;
    max-width: 100%;
    background:#DAF1DE;
}

.container21 {
    margin: auto;
    display: flex;
    max-width: 100%;
}

.footer {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 80px;
    background-color: #B3C100;
}

.sidebar {
    background-color: #DAF1DE;
    width: 30%;
    
}

.content { 
    background-color: #DAF1DE;
    width: 70%;
    padding: 5%;
}
 
/* Dropdown Button */
.dropbtn {
    background-color: #B3C100;
    color: black;
    padding: 20px;
    font-size: 15px;
    tab-size: 10px;
    border: none;
}

.UI{
    background: #DAF1DE;
    width: 100%;  
}

ul {
display: block;
list-style-type: disc;
margin-top: 1em;
margin-bottom: 1em;
margin-left: 0px;
margin-right: 0px;
padding-left: 40px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #DAF1DE;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 2px 2px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

p {
    text-indent: 1.5em;
}

h1 {
    line-height: 0.1;
    text-align: center;
}

h2 {
    line-height: 1.5;
    text-align: center;
}


li {
    list-style-type: none;
    text-indent: 1.5em;
    line-height: 2;
}

.thumb img  {
    border: 0px solid #ffffff; /* Рамка вокруг фотографии */
    padding: 15px; /* Расстояние от картинки до рамки */
    background: #CDEEF3; /* Цвет фона */
    margin-right: 10px; /* Отступ справа */
    margin-bottom: 10px; /* Отступ снизу */
   }


.rightsidebar
{
 background: #DAF1DE;
    width: 30%;
}